*{
  margin: 0;
  padding: 0;
}

/* Color */
:root {
    --main: #1D8FA6;
    --bgLight: #F7FAFC;
    --bgDark: #EDF2F7;
    --hover: #1D8FA659;
    --tableHeader: #1D8FA6B3;
    --tableOddRow: #1D8FA666;
    --search: #C8C8C8;
    --textWhite: #FFFFFF;
    --textBlack: #1E1F20;
}

body{
  min-height: 100vh;
  background-color: var(--bgLight);
  background-size: cover;
}

/* Fonts */
h1  {
  font-family: "League Spartan";
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: var(--main);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h2  {
  font-family: "League Spartan";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--textBlack);
}

h3  {
  font-family: "Alata";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--textBlack);
}

h4 {
  font-family: "Alata";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--textBlack);
}

h5 {
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--textBlack);
}

h6 {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--textBlack);
}

.paragraph {
  font-family: 'Alata';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--textBlack);
}

.textSmall {
  font-family: 'Alata';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--textBlack);
}

.textNavbar {
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--textBlack);
}

a {
  color: inherit;
  text-decoration: inherit;
}



/* button */
.btn1 {
  display: inline-flex;
  padding: 3px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}
.btn2 {
  display: inline-flex;
  padding: 3px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: var(--white);
}